{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <article class="card text-center post-card mb-4">
          <div class="card-header bg-transparent border-0 mb-4">
            {{ range .Params.categories }}
            <a class="post-meta" href="{{`categories/` | absURL}}{{. | lower | urlize}}">{{.| humanize}}</a>
            {{ end }}
            <h3 class="my-3">{{.Title}}</h3>
            <span class="post-date">{{.PublishDate.Format "02 Jan, 2006"}}</span>
          </div>
          <img loading="lazy" class="img-fluid mb-4" src="{{ .Params.image_webp | absURL }}"
            onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'" alt="{{.Title}}">
          <div class="card-body px-0">
            <div class="content text-left">
              {{.Content}}
            </div>
        </article>
        {{partial "edit_this_content.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}