<!-- navigation -->
<header class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <nav class="navbar-container">
                    <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
                        {{ if site.Params.logo }}
                        <img class="img-fluid" width="{{site.Params.logo_width}}" src="{{ site.Params.logo | absURL}}"
                            alt="{{ site.Title }}">
                        {{ else }}
                        {{site.Params.logo_text | markdownify}}
                        {{ end }}
                    </a>
                    <button type="button" class="navbar-toggle" aria-label="Open navigation menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-menu">
                        <ul class="navbar-links">
                            {{ range site.Menus.main }}
                            <li class="navbar-item">
                                <a class="navbar-link"
                                    href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{
                                    .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>

                    {{ if .Site.IsMultiLingual }}
                    <li id="language-switch" class="dropdown">
                        <ul class="dropdown-menu">
                            {{ $siteLanguages := .Site.Languages}}
                            {{ $pageLang := .Page.Lang}}
                            {{ range .Page.AllTranslations }}
                            {{ $translation := .}}
                            {{ range $siteLanguages }}
                            {{ if eq $translation.Lang .Lang }}
                            {{ $selected := false }}
                            {{ if eq $pageLang .Lang}}
                            <li><a href="{{ $translation.RelPermalink }}" class="active">{{ .LanguageName }}</a></li>
                            {{ else }}
                            <li><a href="{{ $translation.RelPermalink }}">{{ .LanguageName }}</a></li>
                            {{ end }}
                            {{ end }}
                            {{ end }}
                            {{ end }}
                        </ul>
                    </li>
                    {{ end }}

                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /navigation -->