{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <article class="card text-center post-card mb-4">
          <div class="card-header bg-transparent border-0 mb-4">
            <h3 class="my-3">MS THESIS DEFENSE</h3>
            <h3 class="my-3">{{.Title}}</h3>
            <h2 class="my-3">{{ .Params.speaker }}</h2>

            <span class="post-date">Starting at <time>{{ .Params.start_time }}</time> on <time>{{ .Date | time.Format
                "Monday, January 2, 2006"
                }}</time></span>
          </div>
          <div class="card-body px-0">
            <div class="content text-left">
              {{.Content}}
            </div>
        </article>
        {{partial "edit_this_content.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}