{{ define "main" }}

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-3">{{ site.Title }}</h1>
                <div class="content">{{site.Params.banner_content | markdownify}}</div>
            </div>
        </div>
    </div>
</section>

<section class="section-sm pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="mb-3">{{ i18n "latest_news" }}</h2>

                {{ $posts := where .Site.RegularPages.ByDate.Reverse "Section" "posts" }}
                <ul>
                    {{ range $posts }}
                    <article class="card post mb-4">
                        <div class="row">
                            <div class="col-auto">
                                <div class="post-image">
                                    <a href="{{ .RelPermalink }}">
                                        <img loading="lazy" class="img-fluid" src="{{ .Params.image_webp | absURL }}"
                                            onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'"
                                            alt="{{.Title}}">
                                    </a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-block px-2">
                                    <h2 class="mb-2"><a class="post-title" href="{{.Permalink}}">{{.Title}}</a></h2>
                                    <div class="post-meta">
                                        <span class="post-date">{{.PublishDate.Format "02 Jan, 2006"}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {{end}}
                </ul>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-8 mx-auto">
                <h2 class="mb-3">{{ i18n "next_events" }}</h2>

                {{ $events := where .Site.RegularPages.ByDate "Section" "events" }}
                {{ range where $events "Date" "ge" (now.AddDate 0 0 -1) }}
                <article class="card post mb-4">
                    <div class="row">
                        <div class="col-auto">
                            <time class="post-date">{{.PublishDate.Format "02 Jan, 2006"}}</time>
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <h3 class="mb-2"><a class="post-title" href="{{.Permalink}}">{{.Title}}</a></h3>
                                <div class="post-meta">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                {{end}}

            </div>
        </div>
    </div>
</section>

{{ end }}